@media only screen and (max-width: 1200px){
    header .menu{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 840px){
    .menu .list{
        margin-right: 15px;
    }

}