*{
    padding: 0;
    margin: 0;
}
input{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 14px
}
.container{
    max-width: 500px;
    margin: auto;
    border: solid 2px black;
    padding: 52px 100px 50px;
    box-sizing: border-box;
}
.text{
    text-align: center;
    margin-bottom: 25px;
}
.container span:first-of-type{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    padding-right: 12px;
    border-right: 1px solid black;
    display: inline-block;
}
.container span:last-of-type{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    margin-bottom: 41px;
}
.container p{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 15px;
}
.text-2{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px;
    text-align: center;
}
.container button{
    border-radius: 5px;
    width: 300px;
    background: #46a358;
    text-align: center;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    margin-bottom: 26px;
}
.container a{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 14px
}
.menu{
    max-width: 1211px;
    margin: auto;
}
header{
    padding-top: 31px;
    padding-bottom: 18px;
}
header nav, header nav li, header .logo{
    display: inline-block;
    line-height: 123%;
    text-align: center;
}
header ul{
    list-style: none;
}
header .logo{
    margin-right: 229px;
    float: left;
}
header .login{

}
header nav li{
    margin-right: 50px;
}
header nav li:last-of-type{
    margin-right: 0;
}
header nav li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header nav li:after{
    height: 3px;
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
}
header nav li:hover:after{
    background-color: #46a358;
}
a{
    text-decoration: none;
}
.login{
    box-sizing: border-box;
    height: 35px;
    border-radius: 5px;
    background: #46a358;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    float: right;
    display: inline-flex;
    align-items: center;
}
.login:before{
    content: "";
    display: inline-block;
    background-image: url("../img/Login.svg");
    width: 20px;
    height: 20px;
    margin-right: 5px;

}
.clearfix{
    clear: both;
}
.banner .menu{
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
    padding-left: 50px;
}
.banner h4{
    width: 205px;
    height: 16px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    color: #3d3d3d;
}
.banner h1{
    width: 530px;
    height: 140px;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.banner h1 span{
    color: #46a358;
}
.banner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}
.banner a{
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: #46a358;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}




