
.left_sidebar div span{
    font-weight: 400;
    display: block;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin-bottom: 15px;
}
.left_sidebar div span p{
    font-weight: 700;
    color: #46a358;
    font-family: 'cera_probold';
    display: inline-block;
    padding-left: 5px;
}
.left_sidebar div{
    max-height: 133px;
    margin-bottom: 46px;
    display: block;
    margin-left: 25px;
}
.left_sidebar div a{
    box-sizing: border-box;
    height: 35px;
    border-radius: 5px;
    background: #46a358;
    text-align: center;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-family: 'cera_promedium';
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
.left_sidebar img{
    margin-left: -30px;
}
.categories .right_content .flex_2{
    display: flex;
    justify-content: space-between;
}

.list_3{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.list_3 a{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';

}

.list_3 a:hover{
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
    font-family: 'cera_probold';

}
.list_3 a:after{
    height: 3px;
    background-color: transparent;
    content: "";
    line-height: 100%;
    display: block;
    margin-top: 1px;

}
.list_3 a:hover:after{
    background-color: #46a358;

}

.right_content .flex_2 li{
    min-width: 120px;
    text-align: center;


}
.right_content .flex_2 li:last-of-type{
    padding-right: 0;
}

.right_content .flex_2 .list_3 ul{
    text-align: center;
}
.flex_2{
    margin-bottom: 31px;
}
.list_4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list_4 a{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin-bottom: 6px;
}
.categories .right_content article span{
    font-weight: 700;
    font-size: 18px;
    line-height: 107%;
    color: #46a358;
    font-family: 'cera_probold';
    display: block;
}
.categories .right_content article .price{
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    font-family: 'cera_proregular';
    position: relative;
    display: inline-block;
    margin-left: 16px;
}
.categories .right_content article .price:after{
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: #a5a5a5;
    width: 100%;
    top: 8px;
}
.list_4 article img{
    margin-bottom: 26px;
    display: block;
}
.list_4 article{
    max-height: 350px;
}
.categories .right_content article{
    max-width: 258px;
    margin-bottom: 70px;
    border-top: solid 1px transparent;
    position: relative;
}
.categories .right_content article:hover{
    border-top: solid 1px #46a358;
}
.categories .right_content article .sale{
    position: absolute;
    left: 0;
    top: 14px;
    background-color: #46a358;
    padding: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    font-family: 'cera_promedium';
}
.categories .right_content article:hover ul{
    opacity: 1;
    transition: 0.3s;
    background-color: #ffffff;
}
.categories .right_content article ul{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 57px;
    left: calc(50% - 62px);
    width: 125px;
    opacity: 0;
}
.categories .right_content article ul li{
    width: 20px;
    height: 20px;
    margin-right: 26px;
}
.categories .right_content article ul li:last-of-type{
    margin-right: 0;
}
.categories .pagination{
    display: flex;
    justify-content: right;
    max-width: 1211px;
    margin: auto;
    border-bottom: 0.30px solid transparent;
}
.categories .pagination ul{
    margin-bottom: 94px;
    height: 35px;

}
.categories .pagination ul li{
    display: inline-flex;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    list-style: none;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.categories .pagination ul li:last-of-type{
    margin-right: 0;
}
.categories .pagination ul li a{
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .pagination ul li:hover{
    background: #46a358;

}
.categories .pagination ul li:hover a{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_probold';
}
.categories .pagination ul li:hover path{
    stroke: #fff;
}
.blog .card{
    max-width: 1211px;
    margin: auto;
    display: flex;
    padding-bottom: 115px;
}
.blog .card .left_card{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.blog .card .right_card{
    display: flex;
    align-items: center;
}
.blog .card article{
    max-width: 292px;
    text-align: right;
}
.blog .card article h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-left: 142px;
    margin-bottom: 9px;
    padding-top: 37px;
}
.blog .card article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    font-family: 'cera_proregular';
    max-width: 292px;
    margin-bottom: 25px;
}
.blog .card article a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border: 1px solid #46a358;
    position: relative;
    transition: 0.3s;
    background-color: #46a358ff;
    font-family: 'cera_probold';

}
.blog .card article a::before, .blog .card article a::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform-origin: 100% 50%;
    height: 2px;
    width: 11px;
    background-color: #ffffff;
    border-radius: 2px;
    will-change: transform;
    transition: .3s;
}
.blog .card article a::before {
    transform: translateY(-50%) rotate(30deg);
}

.blog .card article a::after {
    transform: translateY(-50%) rotate(-30deg);
}

.blog .card article a:hover::before {
    transform: translate(5px, -50%) rotate(30deg);
}

.blog .card article a:hover::after {
    transform: translate(5px, -50%) rotate(-30deg);
}
.blog .blog_card .blog_text{
    padding-left: 35px;
    text-align: center;
}
.blog .blog_card .blog_text h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-bottom: 15px;
}
.blog .blog_card .blog_text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    font-family: 'cera_proregular';
    padding-bottom: 35px;
}
.blog .blog_card .blog_card_2{
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
    max-width: 1200px;
    margin: auto;

}
.blog .blog_card .blog_card_2 article{
    padding-right: 43px;
    max-width: 268px;

}
.blog .blog_card .blog_card_2 article:last-of-type{

}
.blog .blog_card .blog_card_2 article img{
    padding-bottom: 8px;
    display: flex;

}
.blog .blog_card .blog_card_2 article .blog_text_2{
    max-width: 242px;
    max-height: 146px;
    margin-left: 26px;


}
.blog .blog_card .blog_card_2 article .blog_text_2 span{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    font-family: 'cera_promedium';
    padding-bottom: 4px;
}
.blog .blog_card .blog_card_2 article .blog_text_2 h4{
    font-weight: 700;
    font-size: 23px;
    line-height: 125%;
    color: #3d3d3d;
    text-transform: capitalize;
    font-family: 'cera_probold';
    padding-bottom: 4px;
}
.blog .blog_card .blog_card_2 article .blog_text_2 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
    padding-bottom: 4px;
}
.blog .blog_card .blog_card_2 article .blog_text_2 a{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_promedium';
    padding-bottom: 9px;
}
.blog .blog_card .blog_card_2 article .blog_text_2 a:hover{
    color: #46a358;
}
footer {
    max-width: 1200px;
    max-height: 610px;
    margin: auto;
}
footer .news{
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;

}
footer .news article{
    max-height: 202px;
    max-width: 204px;
    padding-right: 61px;
    padding-bottom: 24px;
}

footer .news article:last-of-type{
    max-width: 354px;
    max-height: 202px;
    padding-right: 0;

}
footer .news article img{
    height: 95px;
    max-width: 80px;
    padding-bottom: 15px;

}
footer .news article div{
    max-height: 40px;
}
footer .news article h4{
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-bottom: 10px;
}
footer .news article:last-of-type h4{
    padding-bottom: 25px;
    padding-top: 13px;
}
footer .news article:last-of-type p{
    padding-bottom: 0;
}
footer .news article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
    padding-bottom: 24px;
}
footer .news article div input{
    max-width: 269px;
    border-radius: 6px 0 0 6px;
    max-height: 40px;
}
footer .news article button{
    max-width: 85px;
    border-radius: 0 6px 6px 0;
    border-color: transparent;
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    font-family: 'cera_probold';
    color: #fff;
    height: 40px;
    padding: 10px 25px 12px 24px;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
footer .news article button:hover{
    box-shadow: 0 0 rgba(0, 0, 0, 0.4);
    border-bottom-width: 2px;
    transform: translateY(2px);
}

footer .news article:last-of-type div{
    display: flex;
    align-items: flex-start;
    max-width: 354px;
    padding-bottom: 24px;
}
footer .contact{
    max-height: 88px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    margin: auto;
}
footer .contact ul{
    list-style: none;
    display: flex;
    align-items: center;
}
footer .contact ul li{
    max-width: 205px;
    display: inline-block;
    padding-right: 154px;
}
footer .contact ul li:last-of-type{
    padding-right: 20px;
}
footer .contact ul li img{
    padding: -17px;
    margin-left: 13px;
}
footer .contact ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';

}
footer .contact ul li a:before{
    content: "";
    display: inline-block;
    background-image: url("../img/location.svg");
    width: 20px;
    height: 20px;
    margin: 2px 3px -4px;
}
footer .contact ul li span, footer .contact ul li p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';

}
footer .contact ul li span:before{
    content: "";
    display: inline-block;
    background-image: url("../img/mail.svg");
    width: 20px;
    height: 20px;
    margin: 2px 3px -4px;
}
footer .contact ul li p:before{
    content: "";
    display: inline-block;
    background-image: url("../img/phone.svg");
    width: 20px;
    height: 20px;
    margin: 2px 3px -4px;
}
footer .guide{
    max-height: 236px;
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid #46a358;
}
footer .guide ul{
    list-style: none;
    max-width: 150px;
    padding: 33px 130px 29px 25px;
}

footer .guide .guide_1 li h4, footer .guide .guide_2 li h4, footer .guide .guide_3 li h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-bottom: 8px;
}
footer .guide .guide_1 li a, footer .guide .guide_2 li a, footer .guide .guide_3 li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
footer .guide .guide_4{
    display: inline-block;
}
footer .guide .guide_4 h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-top: 33px;
    margin-bottom: 20px;
}
footer .guide .guide_4 .media{
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: 224px;
    margin-bottom: -19px;
    padding: 0;

}
footer .guide .guide_4 .media li{
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    padding: 7px 7px 3.5px;
    margin-right: 10px;
    margin-bottom: 30px;
}
footer .guide .guide_4 .media li:first-of-type{
    padding: 8px 12px 3.5px;
}
footer .guide .guide_4 .media li:last-of-type{
    padding: 9px 7px 3.5px;
    margin-right: 0;
}
footer .guide .guide_4 .media li a svg path:hover{
    fill: #064b12;
    border: 1px solid #064b12;
}
footer .guide_5 span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin-bottom: 22px;
}

.faq .acord {
    max-width: 1200px;
    margin: auto;
}
.faq .ui-accordion .ui-accordion-header {
    border-radius: 22px;
    padding: 20px 16px;
    background-color: transparent;
    border: solid 2px #46a358;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: antiquewhite;
    border-bottom: none;
    border-radius: 22px 22px 0 0;
}
.faq .ui-state-active, .faq .ui-widget-content .ui-state-active, .faq .ui-widget-header .ui-state-active, .faq a.ui-button:active, .faq .ui-button:active, .faq .ui-button.ui-state-active:hover {
    border: solid 2px #46a358;
    color: black;
}
.faq .ui-accordion .ui-accordion-content {
    border: solid 2px #46a358;
    background-color: antiquewhite;
    border-radius: 0 0 22px 22px;
    overflow: visible;
    border-top: none;
}

.faq .ui-accordion .ui-accordion-header .ui-icon{
    position: absolute;
    right: 20px;
    background-image: none;
    background-position: 0;
    text-indent: 0;
    width: 32px;
    height: 32px;
}
.faq .ui-accordion .ui-accordion-header .ui-icon:after{
    content: "";
    display: block!important;
    top: 50%;
    right: 44px;
    height: 32px;
    width: 32px;
    color: black;
    transform: rotate(0);
    transition: transform 2s;
    background-image: url("https://www.limitlessx.com/cdn/shop/t/48/assets/chevron-down.svg");
}
.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:after{
    transform: rotate(180deg);
}
